@media (max-width:1400px) {
    .header__nav .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .top.container {
        flex-direction: column;
    }

    .main__left {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .left__hour {
        width: 100%;
    }

    .main__right {
        width: 100%;
        justify-content: space-evenly;
        height: 400px;
        flex-wrap: wrap;
    }

    .main__title {
        text-align: center;
    }

    .bottom {
        justify-content: space-evenly;
    }

    .footer .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1200px) {
    .header__nav .container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .left__hour {
        padding: 0;
        width: 465px;
        height: 294px;
        justify-content: space-evenly;
    }

    .skitka {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 992px) {
    .main__left {
        flex-wrap: wrap;
    }

    .left__hour {
        width: 665px;
    }

    .last__news {
        flex-wrap: wrap;
    }
    
    .bottom {
        justify-content: space-evenly;
        gap: 0;
    }

}
@media (max-width: 768px) {
    .header__search {
        flex-wrap: wrap;
    }
    .header__list {
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }
    .left__hour {
        width: 550px;
    }
    .hour__block {
        width: 550px;
    }
    .last__news-block {
        width: 550px;
    }
    .bottom {
        justify-content: center;
    }
    .footer .container {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-evenly;
    }
    .footer__item,.footer__content p,.footer__name {
        text-align: center;
    }
    .footer__contact {
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .main__right {
        width: 100%;
    }
}
@media (max-width:576px) {
    .last__bottom {
        font-size: 16px;
        padding: 10px 20px;
    }
    .left__hour {
        flex-wrap: wrap;
        padding: 40px 20px;
        height: 400px;
    }
    .hour__name, .main__bottom-title {
        font-size: 20px;
    }
    .hour__name {
        text-align: center;
    }
    .gender, .hour__mone {
        font-size: 15px;
    }
    .main__right img {
        width: 200px;
    }
    .main__content,.hour__block,.main__top-left__hour,.left__hour {
        width: 100%;
    }
    .main__title, .main__more{
        font-size: 20px;
    }
    .main__right {
        padding: 0;
    }
    .last__text {
        margin-bottom: 15px;
    }
    .last__news-block {
        padding: 100px 20px;
    }
    .main__shop-font img {
        width: 35px;
    }
    .main__shop {
        gap: 10px;
    }
    .main__hour-name {
        font-size: 20px;
        text-align: center;
    }
    .main__hour-gender {
        font-size: 15px;
    }
    .main__hour-mone {
        font-size: 15px;
    }
    .footer .container {
        gap: 40px;
    }
}